{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">What is happening...?</legend>
      <div class="form-group">
        {{form.title.label(class="form-control-label") }}
        <!-- checking for correct title parameters  -->
        {% if form.title.errors %}
        <!--   -->
        {{ form.title(class="form-control form-control-lg is-invalid") }}
        <!-- error display block -->
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        <!-- end of error display block -->
        {% else %}
        <!--  -->
        {{ form.title(class="form-control form-control-lg") }}
        <!--  -->
        {% endif %}
        <!-- end of checking -->
      </div>
      <div class="form-group mb-4">
        {{form.content.label(class="form-control-label") }}
        <!-- checking for correct content parameters  -->
        {% if form.content.errors %}
        <!--   -->
        {{ form.content(class="form-control form-control-lg is-invalid") }}
        <!-- error display block -->
        <div class="invalid-feedback">
          {% for error in form.content.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        <!-- end of error display block -->
        {% else %}
        <!--  -->
        {{ form.content(class="form-control form-control-lg") }}
        <!--  -->
        {% endif %}
        <!-- end of checking -->
      </div>
      <small class="text-muted mt-8 form-group">
        {{ form.content_image.label(class="form-control-label") }}
        <!-- image field -->
        {{ form.content_image(class="form-control form-control-lg is-invalid") }}
        <!-- end -->
      </small>
    </fieldset>
    <div class="form-group mt-4 mb-4">
      {{ form.submit(class="btn btn-outline-success") }}
    </div>
  </form>
</div>
{% endblock content %}
