{% extends "layout.html" %} {% block content %} {% for post in posts %}
<article class="media content-section">
  <img src="{{ url_for('static', filename="avi/" + post.author.user_avi ) }}"
  alt="" class="rounded-circle article-img" />
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author.username }}</a>
      <small class="text-muted"
        >{{post.date_posted.strftime('%Y-%m-%d %H:%M') }}</small
      >
    </div>
    {% if post.content_image %}
    <img
      src="{{ url_for('static', filename=post.content_image) }}"
      alt="{{ post.title }}"
      class="img-fluid"
    />
    {% endif %}

    <h2>
      <a class="article-title" href="{{ url_for('post', post_id=post.id) }}"
        >{{ post.title }}</a
      >
    </h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
{% endfor %} {% endblock content %}
