{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">LOGIN TO YOUR ACCOUNT</legend>
      <div class="form-group">
        {{form.email.label(class="form-control-label") }}
        <!-- checking for correct email parameters  -->
        {% if form.email.errors %}
        <!--   -->
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <!-- error display block -->
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        <!-- end of error display block -->
        {% else %}
        <!--  -->
        {{ form.email(class="form-control form-control-lg") }}
        <!--  -->
        {% endif %}
        <!-- end of checking -->
      </div>
      <div class="form-group">
        {{form.password.label(class="form-control-label") }}
        <!-- checking for correct username parameters  -->
        {% if form.password.errors %}
        <!--   -->
        {{ form.password(class="form-control form-control-lg is-invalid") }}
        <!-- error display block -->
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        <!-- end of error display block -->
        {% else %}
        <!--  -->
        {{ form.password(class="form-control form-control-lg") }}
        <!--  -->
        {% endif %}
        <!-- end of checking -->
      </div>
      <div class="form-check">
        {{ form.remember(class="form-check-input mt-4") }} {{
        form.remember.label(class="form-check-label mt-4") }}
      </div>
    </fieldset>
    <div class="form-group mt-4 mb-4">
      {{ form.submit(class="btn btn-outline-success") }}
    </div>
    <small class="text-muted mt-4">
      <a class="ml-2" href="{{ url_for('users.reset_request') }}">Forgot password?</a>
    </small>
  </form>
</div>
<div class="border-top pt-4">
  <small class="text-muted"
    >Don't have an account?
    <a class="ml-2" href="{{ url_for('users.register') }}">REGISTER</a>
  </small>
</div>
{% endblock content %}
