{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <form
    action="{{ url_for('post_reaction', post_id=post.id) }}"
    method="post"
    enctype="multipart/form-data"
  >
    {{ r_form.hidden_tag() }}
    <fieldset class="form-group">
      <!-- ... other form elements ... -->
      <div class="form-group mb-4 btn-group-toggle" data-toggle="buttons">
        <label class="btn" id="like">
          <input
            type="checkbox"
            name="{{ r_form.like.name }}"
            {%
            if
            r_form.like.data
            %}checked{%
            endif
            %}
          />
          Like
        </label>
        <label class="btn" id="flag">
          <input
            type="checkbox"
            name="{{ r_form.flag.name }}"
            {%
            if
            r_form.flag.data
            %}checked{%
            endif
            %}
          />
          Flag
        </label>
      </div>
    </fieldset>
    <div class="form-group mt-4 mb-4">
      {{ r_form.submit(class="btn btn-outline-success") }}
    </div>
  </form>
</div>
{% endblock content %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const likeButton = document.querySelector("#like");
    const flagButton = document.querySelector("#flag");

    likeButton.addEventListener("click", function () {
      likeButton.querySelector("input").checked =
        !likeButton.querySelector("input").checked;
    });

    flagButton.addEventListener("click", function () {
      flagButton.querySelector("input").checked =
        !flagButton.querySelector("input").checked;
    });
  });
</script>
