{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <form
    action="{{ url_for('post_reaction', post_id=post.id) }}"
    method="post"
    enctype="multipart/form-data"
  >
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{form.comment.label(class="form-control-label") }}
        <!-- checking for correct comment parameters  -->
        {% if form.comment.errors %}
        <!--   -->
        {{ form.comment(class="form-control form-control-lg is-invalid") }}
        <!-- error display block -->
        <div class="invalid-feedback">
          {% for error in form.comment.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        <!-- end of error display block -->
        {% else %}
        <!--  -->
        {{ form.comment(class="form-control form-control-lg") }}
        <!--  -->
        {% endif %}
        <!-- end of checking -->
      </div>

      <div class="form-group mb-4 btn-group-toggle" data-toggle="buttons">
        <label class="btn" id="like">
          <input
            type="checkbox"
            name="{{ form.like.name }}"
            {%
            if
            form.like.data
            %}checked{%
            endif
            %}
          />
          Like
        </label>
        <label class="btn" id="flag">
          <input
            type="checkbox"
            name="{{ form.flag.name }}"
            {%
            if
            form.flag.data
            %}checked{%
            endif
            %}
          />
          Flag
        </label>
      </div>
    </fieldset>
    <div class="form-group mt-4 mb-4">
      {{ form.submit(class="btn btn-outline-success") }}
    </div>
  </form>
</div>
{% endblock content %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const likeButton = document.querySelector("#like");
    const flagButton = document.querySelector("#flag");

    likeButton.addEventListener("click", function () {
      likeButton.querySelector("input").checked =
        !likeButton.querySelector("input").checked;
    });

    flagButton.addEventListener("click", function () {
      flagButton.querySelector("input").checked =
        !flagButton.querySelector("input").checked;
    });
  });
</script>
